aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
anyio==4.9.0
attrs==25.3.0
blinker==1.9.0
certifi==2025.4.26
chardet==5.2.0
charset-normalizer==3.4.2
click==8.2.0
defusedxml==0.7.1
dnspython==2.7.0
dotenv==0.9.9
Flask==3.1.1
fonttools==4.58.0
fpdf==1.7.2
fpdf2==2.8.3
frozenlist==1.6.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
multidict==6.4.4
pillow==11.2.1
praw==7.8.1
prawcore==2.4.0
propcache==0.3.1
pymongo==4.13.0
python-dotenv==1.1.0
python-telegram-bot==22.1
requests==2.32.3
sniffio==1.3.1
telepot==12.7
typing_extensions==4.13.2
update-checker==0.18.0
urllib3==2.4.0
websocket-client==1.8.0
Werkzeug==3.1.3
yarl==1.20.0
